.dashboard-center-container {
    display:flex;
    justify-content: space-evenly;
    margin-top:20rem;

    .dashboard-center-option{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: $m-size;
        width: 40rem;
        height: 40rem;
        //background: rgba(110, 50, 220, 0.6);
        background: rgba(30,10,60, 0.8);
        border: 1px solid $turqoise;

        .dashboard-center-option-header{
            color:$turqoise;
            font-size: 36px;
            padding: $m-size 0;
        }

        .dashboard-center-option-image{
            width: 30rem;
            height: 15rem;
        }

        #eye-look-img {
            background: url("../../public/images/eye-look.png");

            background-size: cover;
            height: 16rem;

        }

        #read-book-img {
            background: url("../../public/images/read-book.png");
            background-size: cover;
            height: 19rem;
            width: 23rem;

        }
    }
}

@media screen and (max-width: 700px){
    .dashboard-center-container {
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
        .dashboard-center-option {
            margin-bottom: 5rem;
        }
    }
}