.page-not-found_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}

.page-not-found_box {
    text-align:center;
    width:50rem;
    height:40rem;
    background: $dark-purple;
    padding: 2rem;
}

.page-not-found_text {
    color: $turqoise;
    font-size: 45px;
    text-align: center;
    padding: 2rem;
}

.go-back-button {
    width: 20rem;
    height: 10rem;
    font-size: 25px;
    color: $turqoise;
    background: $dark-purple;
    border: 1px solid $turqoise;
}