.tarot-alert-overlay {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: rgba(black, 0.8);
}

.tarot-alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.tarot-alert-box {
    text-align:center;
    width:50rem;
    height:40rem;
    background: #350a59a8;
    border: 1px solid $turqoise;
    padding: 2rem;
}

.tarot-alert-text {
    color: $turqoise;
    font-size: 45px;
    text-align: center;
    padding: 2rem;
}

.tarot-alert-return {
    width: 20rem;
    height: 10rem;
    font-size: 25px;
    color: $turqoise;
    background: #00252c;
    border: 1px solid $turqoise;
}