
.card{
    margin-top: 1rem;
    width: 16.3rem;
    height: 28rem;
    // background:url('../../public/images/Tarot/cardback1.png')
}

.no-one-using-this-lmao {
    background:url('../../public/images/Tarot/cardback.png')

}

.overlayed-card {
    margin-left:-18rem;
    z-index:2;
}

.card-label {
    font-family: cursive;
    color:rgba(white, 0.9);
    letter-spacing:2;
    text-align:center;
    background-color:rgba(black, 0.6);
}
