.fortune-container {
    display: flex;
    justify-content: space-between;
    overflow:hidden;

    // .deck-section {
    //     width: 15vw;
    //     height: 90.5vh;
    //     .deck {
    //         width: 22rem;
    //         height: 37rem;
    //         background-color:green;
    //         border-radius:10px;
    //     }
    //     .hover-card {
    //         position:absolute;
    //         width: 20rem;
    //         height: 35rem;        
    //         background-color:orange;
    //     }
    // }

    .fortune-layout {
        width: 70vw;
        height: 90.5vh;
    }

    .display-section {
        width: 30vw; 
        height: 90.5vh;
        display: flex;
        flex-direction:column;
        align-items: center;

        .display-card-container {
            background-color: rgba(blue, 0.3);
            width: 30vw;
            height: 50rem;
            display:flex;
            justify-content:center;
            .add-card-button{
                position: fixed;
                top: 10rem;
                width: 17.5rem;
                height: 10rem;
                right: 0;
                padding: 0.5rem 0rem;
                background-color: #2196f3ba;
                border: none;
                color: white;
                line-height: 1.3;
                font-size: 25px;
            }
            .display-card {
                width: 29rem;
                height: 50rem;
            }
        }

        .display-text-container {
            width: 30vw;
            height: 30vh;
            background: rgba($dark-purple, 0.75);
            display:flex;
            justify-content: center;
            align-items:center; 

            .display-text {
                border: none;
                color:$turqoise;
                background:none;
                width: 28vw;
                height: 28vh;
                font-size: 25px;
                line-height:2;
                resize:none;

                &:focus {
                    box-shadow:none;
                    outline:none;
                }
            }


        }

        .fortune-buttons-container {
            display: flex;
            justify-content:center;
            align-items:center;
        }

        .fortune-button {
            width: 15vw;
            height: 14vh;
            color: white;
            font-size: 35px;
            letter-spacing: 2px;
            line-height:1.4;
            border: none;
        }

        .fortune-button-post{
            background: rgba(#421395, 0.8);
        }

        .fortune-button-add {
            background:rgb(109 0 150 / 80%);
            &:disabled {
                background-color:grey;
                cursor:not-allowed;
            }
        }

    }
}