.day-container {
    color: white;
    width: 25rem;
    height: 20rem;
    background: #4416abd4;
    border: 1px solid #9586df;
    margin-bottom: 2px;
    padding: 1.5rem;
}

.day-number{
    margin-bottom: 1rem;
    background: $dark-purple;
}

.entry-preview {
    transform:scale(0.9);
    font-size: 20px;
    background: $light-blue;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 0.2rem;
}

.entry-title {
    
}

.remove-entry-button {
    color: white;
    background:#20207a;
    padding: 0.05rem 1rem;
    border-radius: 50%;
    font-weight: bold;
    border: none;
}