* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size:$m-size;
    line-height: 1.6;
    background: darkblue;
}

button {
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

.is-active {
    font-weight:bold;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #3a17a8;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(black,0.7);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #3a17a8;  /* creates padding around scroll thumb */
  }

  .error-message {
    color: red;
    font-weight:bold;
    font-size:20px;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
  }